DB_NAME=TutorCenterdb
DB_USER=TutorUser
DB_PASS=TutorPassword
SECRET_KEY=devsecretkey
#ALLOWED_HOSTS=162.19.205.65
ALLOWED_HOSTS=162.19.205.65 , deltainstitut.app, www.deltainstitut.app



# Frontend
DOCKER_IMAGE_FRONTEND=front-end-app:latest